/*Styling footer*/

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: grey;
    color: #fff;
    font-weight: bold;
}

.info {
    margin: auto;
    text-align: center;
    width: 20%;
    flex-direction: row;
    float: right;
}