  body {
      margin: 0;
      padding: 0;
      background: url("../assets/foodbg1.jpg") no-repeat;
      height: 100vh;
      font-family: sans-serif;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden
  }
  /*Login and Signup Boxes*/
  
  .loginBox,
  .signupBox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 450px;
      min-height: 600px;
      background: burlywood;
      border-radius: 10px;
      padding: 40px;
      box-sizing: border-box
  }
  
  .image {
      margin: 0 auto;
      display: block;
      margin-bottom: 20px
  }
  
  h2 {
      margin: 0;
      padding: 0 0 20px;
      color: brown;
      text-align: center
  }
  
  .loginBox input,
  .signupBox input,
  button {
      width: 100%;
      margin-bottom: 20px
  }
  
  .loginBox input[type="text"],
  .loginBox input[type="password"],
  .signupBox input[type="text"],
  .signupBox input[type="password"] {
      border: none;
      border-bottom: 2px solid #262626;
      outline: none;
      height: 60px;
      color: #fff;
      background: transparent;
      font-size: 20px;
      padding-left: 20px;
      box-sizing: border-box
  }
  
  .loginBox input[type="text"]:hover,
  .loginBox input[type="password"]:hover,
  .signupBox input[type="text"]:hover,
  .signupBox input[type="password"]:hover {
      color: bisque;
      border: 1px solid rgb(131, 66, 66);
      ;
      box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black
  }
  
  .loginBox input[type="text"]:focus,
  .loginBox input[type="password"]:focus,
  .signupBox input[type="text"]:focus,
  .signupBox input[type="password"]:focus {
      border-bottom: 2px solid rgb(131, 66, 66);
  }
  
  .signup,
  .back {
      cursor: pointer;
      font-size: 20px;
  }
  
  .signupBox {
      display: none;
  }
  
  .inputBox {
      position: relative;
  }
  
  .inputBox span {
      position: absolute;
      top: 10px;
      color: #262626;
  }
  
  button {
      border: none;
      outline: none;
      height: 60px;
      font-size: 20px;
      background: brown;
      color: #fff;
      border-radius: 20px;
      cursor: pointer;
  }
  
  .loginBox a,
  .signupBox a {
      color: burlywood;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      display: block;
  }
  
  a:hover {
      color: rgb(143, 75, 75);
  }
  
  p {
      color: brown;
      text-align: center;
  }
  
  @media screen and (max-width: 900px) {
      body {
          background-size: cover;
          position: center;
      }
  }